/* DESKTOP */
@media (min-width: 769px) {
    .menubox {
        display: none;
    }

    .hero-info {
        position: absolute;
        top: 90%;
        width: 90%;
        display: flex;
        flex-direction: row;
    }

    .info-content {
        margin: 30px 70px;  
    }

    .details {
        display: none;
    }

    /* Category */
    .category-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}