@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.header {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.hide {
    display: none;
}

.no-scroll {
    overflow: hidden;
  }

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.top-nav-search {
    display: flex;
    padding-top: 10px;
}

.search-input {
    margin-right: 10px;
    padding: 10px;
    border-radius: 15px;
}

.topnav-icon {
    background-color: black;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 5px;
    padding: 15px;
}

.nav-product {
    margin-left: 20px;
}

.nav-product a{
    color: black;
}

.navbar {
    display: flex;
}

.navbar li {
    margin-right: 25px;
}
.navbar li a {
    color: black;
    transition: all 3s ease;
}

.navbar li a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.hero {
    position: relative;
}

.swiper {
    width: 80%;
    height: fit-content;
}

.swiper img {
    width: 100%;
}

.swiper .swiper-pagination-bullet-active {
    background: #000;
}

.hero-info {
    z-index: 1;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

